
/* custom styles here */
body{
  margin-top: 2em;
  background-color: #FFF;
  color: #000;
}

body, h1, h2 { text-align: center }

input, textarea { text-align: left; resize: none;}
button[disabled],input[disabled] { cursor: not-allowed; }

img {
  width: 100%;
}

#following {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background: #000;
}

.headings {
  font-size: 2em; 
}

#comments .row {
  padding-top: 2em;
  padding-bottom: 0em;
}

.imgur {
  padding-left: .5em;
  height: 300px;
  width: 350px
}

.imgurLarge {
  height: auto;
  width: 160%
}

.headBox{
  border-style: outset;
  background: #3D3D3D;
  border-color: #E9BE2E;
}

.commentBox{
    background: #343434;
    padding-right: 1.5em;
}

#topBar{
    
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:60px;
   background-color: #FFF;

}

#yearInput{

  
}

h1{

  color: #E9BE2E;
}

